<form role="form" ng-submit="appCtrl.login()">
	<fieldset>
		<div class="row">
			<div class="col-sm-12 col-md-10  col-md-offset-1 ">
				<div class="form-group">
					<label for="username">Usuário:</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" class="form-control" id="username" name="username" ng-model="appCtrl.credentials.username"/>
					</div>
				</div>
				<div class="form-group">
					<label>Senha:</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input type="password" class="form-control" id="password" name="password" ng-model="appCtrl.credentials.password"/>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-3">
						<label><input type="checkbox"> Mantenha-me conectado</label>
						<div class="input-group">
							<input type="submit" class="btn btn-success btn-block" value="Acessar">
						</div>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</form>