<div>
	<h4>Meus Boletos</h4>
</div>

<hr>

<div id="list" class="row">
	<div class="table-responsive col-md-12">
		<table ng-table="ctrl.tableParams" class="table table-condensed table-striped">
			<tr ng-repeat="item in $data">
				<td class="text-left" title="'Data Vencimento'" class="text-center">{{item.dataVencimento}}</td>
				<td class="text-left" title="'Valor'" class="text-right">{{item.valor | currency: "R$ "}}</td>
				<td class="text-left" title="'Situação'" class="text-center">{{item.descricaoSituacao}}</td>
				<td title="'Boletos'">
					<a ng-if="item.showEmMeusBoletos" title="Baixar boleto" class="btn btn-default btn-sm btn-circle"  href="{{ctrl.CONTEXT}}/downloads/boleto/{{item.nossoNumero}}/pdf"><i class="glyphicon glyphicon-download-alt"></i></a>
				</td>
			</tr>
			<tr>
				<td colspan="7" ng-if="$data.length == 0">
					Nenhum boleto foi encontrado.
				</td>
			</tr>
		</table>
	</div>
</div>
