<div class="container" style="margin-top:10px;">
	<div class="col-md-4">
		<h3>Meus Boletos</h3>
		<a class="btn btn-default btn-lg"  href="#/meus-boletos">
			<div class="col-md-3">
				<span class="glyphicon glyphicon-barcode glyphicon-orange"></span>
			</div>
			<div class="col-md-6">
				<p>
					Visualize seus boletos.
				</p>
			</div>
		</a>
	</div>
	<div class="col-md-4">
		<h3>Reserva de Salão</h3>
		<a class="btn btn-default btn-lg"  href="#/reservas">
			<div class="col-md-3">
				<span class="glyphicon glyphicon-gift glyphicon-orange"></span>
			</div>
			<div class="col-md-6">
				<p>
					Faça agora sua reserva!
				</p>
			</div>
		</a>
	</div>
</div>