<div class="portal-body">

	<div class="container" style="background-image: images/folha-titulo.png;">
		<div class="col-md-8">
			<h2>
				<img alt="folha-titulo" style="margin-right: -70px; margin-top: -25px;" src="images/folha-titulo.png">Residencial <span
					style="color: #ea7617;">Sítio Viver</span> Igarassu
			</h2>
		</div>
		<div class="col-md-3 text-right">
			<p style="padding-top: 30px;">faleconoscosv2@gmail.com</p>
		</div>
	</div>

	<hr>
	
	<div>
		<h3>Salão de Festas</h3>
	</div>

	<div id="list" class="row">
		<div class="table-responsive col-md-12">
			<table class="table table-condensed table-striped">
				<tr>
					<td width="32%">Item</td>
					<td width="40%">Descrição</td>
					<td width="14%">Prazo</td>
					<td width="14%">Status</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-salao-banheiro.jpg" alt="Evolução" class="img-responsive"></td>
					<td>Banheiro masculino com vazamento na pia e banheiro feminino desregulado na descarga.</td>
					<td>30/11/2016</td>
					<td>Concluído</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-salao-coluna.jpg" alt="Vistoria" class="img-responsive"></td>
					<td>Coluna com pedra do rodapé solta.</td>
					<td>12/12/2016</td>
					<td>Concluído</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-salao-verniz.jpg" alt="Vistoria" class="img-responsive"></td>
					<td>Falhas na aplicação do verniz nas vigas e colunas da estrutura.</td>
					<td>20/11/2016</td>
					<td>Concluído</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-salao-tomada.jpg" alt="Vistoria" class="img-responsive"></td>
					<td>02 Tomadas obstruídas.</td>
					<td>25/11/2016</td>
					<td>Concluído</td>
				</tr>

			</table>
		</div>
	</div>

	<hr>
	<div>
		<h3>Playground</h3>
	</div>

	<div id="list" class="row">
		<div class="table-responsive col-md-12">
			<table class="table table-condensed table-striped">
				<tr>
					<td width="32%">Item</td>
					<td width="40%">Descrição</td>
					<td width="14%">Prazo</td>
					<td width="14%">Status</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-play-balanco.jpg" alt="Evolução" class="img-responsive"></td>
					<td>Brinquedos descascando a pintura.</td>
					<td>30/11/2016</td>
					<td>Concluído</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-play-rachadura.jpg" alt="Vistoria" class="img-responsive"></td>
					<td>Rachaduras na parede.</td>
					<td>25/11/2016</td>
					<td>Concluído</td>
				</tr>
			</table>
		</div>
	</div>

	<hr>

	<div>
		<h3>Piscina</h3>
	</div>

	<div id="list" class="row">
		<div class="table-responsive col-md-12">
			<table class="table table-condensed table-striped">
				<tr>
					<td width="32%">Item</td>
					<td width="40%">Descrição</td>
					<td width="14%">Prazo</td>
					<td width="14%">Status</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-piscina-borda.jpg" alt="Evolução" class="img-responsive"></td>
					<td>Duas pedras na borda quebradas.</td>
					<td>10/01/2017</td>
					<td>No Prazo</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-piscina-chuveiro.jpg" alt="Evolução" class="img-responsive"></td>
					<td>Falta Chuveiro e manipulo do registo na área de banho.</td>
					<td>25/11/2016</td>
					<td>Atrasado</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-piscina-fio.jpg" alt="Evolução" class="img-responsive"></td>
					<td>Instalação elétrica inacabada e exposta.</td>
					<td>30/11/2016</td>
					<td>Atrasado</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-piscina-cerca.jpg" alt="Evolução" class="img-responsive"></td>
					<td>Plantas subindo pela grade.</td>
					<td>15/12/2016</td>
					<td>Concluído</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-piscina-muro.jpg" alt="Evolução" class="img-responsive"></td>
					<td>Falta de cascalho na contenção do muro.</td>
					<td>30/11/2016</td>
					<td>Concluído</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-piscina-plantas.jpg" alt="Evolução" class="img-responsive"></td>
					<td>Plantas mortas em torno da piscina.</td>
					<td>15/11/2016</td>
					<td>Concluído</td>
				</tr>
			</table>
		</div>
	</div>

	<hr>

	<div>
		<h3>Mini Campo</h3>
	</div>

	<div id="list" class="row">
		<div class="table-responsive col-md-12">
			<table class="table table-condensed table-striped">
				<tr>
					<td width="32%">Item</td>
					<td width="40%">Descrição</td>
					<td width="14%">Prazo</td>
					<td width="14%">Status</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-mini-campo.jpg" alt="Evolução" class="img-responsive"></td>
					<td>Gramas Faltando.</td>
					<td>20/11/2016</td>
					<td>Concluído</td>
				</tr>
			</table>
		</div>
	</div>

	<hr>

	<div>
		<h3>Vias de Acesso e Entorno dos Blocos</h3>
	</div>

	<div id="list" class="row">
		<div class="table-responsive col-md-12">
			<table class="table table-condensed table-striped">
				<tr>
					<td width="32%">Item</td>
					<td width="40%">Descrição</td>
					<td width="14%">Prazo</td>
					<td width="14%">Status</td>
				</tr>
				<tr>
					<td><img class="media-object" src="images/vistoria-sitio-v2/vistoria-bloco-fios.jpg" alt="Evolução" class="img-responsive"></td>
					<td>Poste provisório (uso de obra).</td>
					<td>31/01/2017</td>
					<td>No Prazo</td>
				</tr>
			</table>
		</div>
	</div>

	<br>
	<div class="container-fluid footer-color-green">
		<div class="col-md-12">
			<div class="col-md-4">
				<p>
					Residencial Sítio Viver Igarassu<br>
				</p>
			</div>
			<div class="col-md-4">
				<p>
					Rua Frei Miguelinho, 299 - Inhamã<br> Igarassu - PE | CEP: 53625-813
				</p>
			</div>
			<div class="col-md-4">
				<p>faleconoscosv2@gmail.com</p>
			</div>
		</div>
	</div>
</div>