<div id="error"></div>
<form class="form-horizontal" name="form" role="form" onsubmit="ctrl.submit()" novalidate>
	<fieldset>
		<!-- Form Name -->
		<legend>Fale Conosco</legend>
		
		<!-- Text input-->
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.nome.$invalid}">
		  <label class="col-md-4 control-label" for="nome">Nome</label>  
		  <div class="col-md-5">
		  <input id="nome" name="nome" ng-model="ctrl.formularioContato.nome" type="text" placeholder="ex.: Guilherme Andrade" class="form-control input-md" required="">
		  <span class="help-block">Informe seu nome</span>  
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.email.$invalid}">
		  <label class="col-md-4 control-label" for="email">Email</label>  
		  <div class="col-md-5">
		  <input id="email" name="email" type="text" placeholder="ex.: guilherme@gmail.com" class="form-control input-md" ng-model="ctrl.formularioContato.email" required="">
		  <span class="help-block">Informe o seu email</span>  
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.assunto.$invalid}">
		  <label class="col-md-4 control-label" for="assunto">Assunto</label>  
		  <div class="col-md-5">
		  <input id="assunto" name="assunto" type="text" placeholder="ex.: Dúvidas " class="form-control input-md" required="" ng-model="ctrl.formularioContato.assunto">
		  <span class="help-block">Informe o assunto que deseja tratar.</span>  
		  </div>
		</div>
		
		<!-- Textarea -->
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.mensagem.$invalid}">
		  <label class="col-md-4 control-label" for="mensagem">Mensagem</label>
		  <div class="col-md-5">                     
		    <textarea class="form-control" id="mensagem" name="mensagem" rows="10" ng-model="ctrl.formularioContato.mensagem"></textarea>
		  </div>
		</div>
		
		<br>
		
		<div class="form-group">
			<div class="col-md-2 col-md-offset-7">
				<div>
					<button type="submit" disable-on-request class="btn btn-success btn-block">Enviar</button>
				</div>
			</div>
		</div>
	</fieldset>
</form>
