<div class="form-group" ng-class="{'has-error' : form.$submitted && form.titulo.$invalid}">
	<label for="titulo" class="control-label col-md-3">Título:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<input id="titulo" name="titulo" type="text" class="form-control"
			ng-model="ctrl.noticia.titulo" required>
		<span class="help-block has-error" ng-if="form.$submitted && form.titulo.$invalid">Preenchimento obrigatório!</span>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.conteudo.$invalid}">
	<label for="conteudo" class="control-label col-md-3">Conteúdo:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<textarea id="conteudo" name="conteudo" class="form-control" ng-model="ctrl.noticia.conteudo" rows="5" ckedit="ctrl.noticia.conteudo" required></textarea>
		<span class="help-block has-error" ng-if="form.$submitted && form.conteudo.$invalid">Preenchimento obrigatório!</span>
	</div>
</div>

<div class="form-group">
	<label for="arquivo" class="control-label col-md-3">Imagem:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<file-upload 
			ng-id="arquivo" ng-name="arquivo" ng-model="ctrl.noticia.imagem" 
		 	show-import-button="false" maxfilesizemb="1"
		 	validatedimensionpicture="true" validExtensions="jpeg,jpg,png" />
	</div>
</div>

