<form name="form" role="form" class="form-horizontal" onsubmit="ctrl.action()" novalidate>
	<div>
		<h4>Atualizar Notícia</h4>
	</div>

	<hr>

	<div ng-include="'portal/noticia-manutencao.tpl.html'"></div>

	<hr>

	<div class="form-group">
		<div class="col-md-3 col-md-offset-3">
			<div>
				<a ng-href="#/noticias" class="btn btn-default btn-block">Cancelar</a>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<button type="submit" disable-on-request class="btn btn-success btn-block">Salvar</button>
			</div>
		</div>
	</div>
</form>