<div>
	<h4>Notícias</h4>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<a class="btn btn-success btn-circle btn-lg" href="#/noticias-create" title="Adicionar nova"><i class="glyphicon glyphicon glyphicon-plus"></i></a>
	</div>
</div>

<br>

<div id="list" class="row">
	<div class="table-responsive col-md-12">
		<table ng-table="ctrl.tableParams" class="table table-condensed table-striped">
			<tr ng-repeat="item in $data">
				<td class="text-left" title="'Título'" >{{item.titulo}}</td>
				<td class="text-center" title="'Situação'" class="text-center">{{item.descricaoSituacao}}</td>
				<td class="text-center" title="'Data De Criação'" class="text-center">{{item.dataCriacao}}</td>
				<td class="text-center" title="'Imagem'" class="text-center" > <img   alt="{{item.nomeImagem}}" class="img-responsive thumbnail img-center"  data-ng-src="{{item.imageBase64}}"></img> </td>
				<td class="text-center" title="'Ações'">
					<a class="btn btn-default btn-circle" ng-href="#/noticias-update/{{item.id}}" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
					<a class="btn btn-danger btn-circle" ng-click="ctrl.delete(item.id)" title="Excluir"><i class="glyphicon glyphicon-remove"></i></a>
					<a class="btn btn-success" ng-click="ctrl.ativarDesativar(item.id)" style="margin: 0" title="OFF" ng-if="item.situacao">OFF</a>
					<a class="btn btn-default" ng-click="ctrl.ativarDesativar(item.id)" style="margin: 0" title="ON " ng-if="!item.situacao">ON </a>
				</td>
			</tr>
			<tr>
				<td colspan="7" ng-if="$data.length == 0">
					Nenhum registro encontrado.
				</td>
			</tr>
		</table>
	</div>
</div>
