<div class="portal-body">

<div class="container" style="background-image: images/folha-titulo.png;">
	<div class="col-md-8">
		<h2><img alt="folha-titulo" style="margin-right: -70px; margin-top: -25px;" src="images/folha-titulo.png">Residencial <span style="color: #ea7617;">Sítio Viver</span> Igarassu</h2>
	</div>
	<div class="col-md-3 text-right">
		<p style="padding-top:14px; ">
		(81) 9 9999-9999<br>
		financeirositioviver@gmail.com</p>
	</div>
</div>

<div id="topoCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#topoCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#topoCarousel" data-slide-to="1"></li>
	</ol>

	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="images/banner-1.jpg" alt="Banner 1">
		</div>

		<div class="item">
			<img src="images/banner-2.jpg" alt="Banner 2">
		</div>
	</div>

</div>
<div class="container" style="margin-top:10px;">
	<div class="col-md-4">
		<h3>Boletos</h3>
		<a class="btn btn-default btn-lg"  href="#imprimir-boletos">
			<div class="col-md-3">
				<span class="glyphicon glyphicon-barcode glyphicon-orange"></span>
			</div>
			<div class="col-md-6">
				<p>
					Imprima boletos e<br>consulte pagamentos.
				</p>
			</div>
		</a>
	</div>
	<div class="col-md-4">
		<h3>Reserva de Salão</h3>

		<a class="btn btn-default btn-lg"  href="#reserva-salao">
			<div class="col-md-3">
				<span class="glyphicon glyphicon-gift glyphicon-orange"></span>
			</div>
			<div class="col-md-6">
				<p>
					Faça reservas do salão<br>de maneira simples.
				</p>
			</div>
		</a>
	</div>
	<div class="col-md-4">
		<h3>Administrador</h3>
		<a class="btn btn-default btn-lg" href="#administrador">
			<div class="col-md-3">
				<span class="glyphicon glyphicon-tasks glyphicon-orange"></span>
			</div>
			<div class="col-md-6">
				<p>
					Acesso restrito<br>para administração.
				</p>
			</div>
		</a>
	</div>
</div>
<div class="container-fluid" style="margin-top:10px;">
	<div class="col-md-12">
		<h3>Notícias</h3>
		<div class="col-md-3">
			<img src="images/noticia-1.png" class="img-responsive" alt="Notícia 1">
			<h4>Restauração do Gramado</h4>
			<p>O campinho terá gramado restaurado.</p>
		</div>
		<div class="col-md-3">
			<img src="images/noticia-2.png" class="img-responsive" alt="Notícia 2">
			<h4>Regimento Interno</h4>
			<p>Elaborado regras de uso para o condomínio. Brevemente o regime interno também estará disponível pelo portal.</p>
		</div>
		<div class="col-md-3">
			<img src="images/noticia-3.png" class="img-responsive" alt="Notícia 3">
			<h4>Bicicletário e Cercado</h4>
			<p>Instalados bicicletário e cercado da piscina. Em assembléia foi decidido que o rateio do custo se dará entre os moradores.</p>
		</div>
		<div class="col-md-3">
			<img src="images/noticia-4.png" class="img-responsive" alt="Notícia 4">
			<h4>Condomínio Digital</h4>
			<p>A administração, com auxílio do time da Kalango Works, trabalha para informatizar processos, comunicação e segurança do condomínio.</p>
		</div>
	</div>
</div>
<br>
<div class="container-fluid footer-color-green">
	<div class="col-md-12">
		<div class="col-md-4">
			<p>Residencial Sítio Viver Igarassu<br>
			CNPJ: 22.666.605/0001-59</p>
		</div>
		<div class="col-md-4">
			<p>Rua Frei Miguelinho, 299 - Inhamã<br>
			Igarassu - PE | CEP: 53625-813</p>
		</div>
		<div class="col-md-4">
			<p>(81) 9 9999-9999<br>
			financeirositioviver@gmail.com</p>
		</div>
	</div>
</div>
</div>