<div class="portal-body">

<div class="container" style="background-image: images/folha-titulo.png;">
	<div class="col-md-8">
		<h2><img alt="folha-titulo" style="margin-right: -70px; margin-top: -25px;" src="images/folha-titulo.png">Residencial <span style="color: #ea7617;">Sítio Viver</span> Igarassu</h2>
	</div>
	<div class="col-md-3 text-right">
		<p style="padding-top:14px; ">
			<a href="#/fale-conosco" class="btn btn-primary"><i class="glyphicon glyphicon-envelope"></i> Fale Conosco</a>
		</p>
	</div>
</div>

<div id="topoCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#topoCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#topoCarousel" data-slide-to="1"></li>
	</ol>

	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="images/banner-1.jpg" alt="Banner 1">
		</div>

		<div class="item">
			<img src="images/banner-2.jpg" alt="Banner 2">
		</div>
	</div>

</div>
<div class="container" style="margin-top:10px;">
	<div class="col-md-4">
		<h3>Boletos</h3>
		<a class="btn btn-default btn-lg"  href="#imprimir-boletos">
			<div class="col-md-3">
				<span class="glyphicon glyphicon-barcode glyphicon-orange"></span>
			</div>
			<div class="col-md-6">
				<p>
					Imprima boletos e<br>consulte pagamentos.
				</p>
			</div>
		</a>
	</div>
	<div class="col-md-4">
		<h3>Reserva de Salão</h3>

		<a class="btn btn-default btn-lg"  href="#reserva-salao">
			<div class="col-md-3">
				<span class="glyphicon glyphicon-gift glyphicon-orange"></span>
			</div>
			<div class="col-md-6">
				<p>
					Faça reservas do salão
				</p>
				<p>
					de maneira simples.
				</p>
			</div>
		</a>
	</div>
	<div class="col-md-4">
		<h3>Administrador</h3>
		<a class="btn btn-default btn-lg" href="#administrador">
			<div class="col-md-3">
				<span class="glyphicon glyphicon-tasks glyphicon-orange"></span>
			</div>
			<div class="col-md-6">
				<p>
					Acesso restrito 
				</p>
				<p>
					para administração.
				</p>
			</div>
		</a>
	</div>
	
	<div class="col-md-4">
		<h3>Regimento Interno</h3>
		<a class="btn btn-default btn-lg" href="#/regimento-interno">
			<div class="col-md-3">
				<span class="glyphicon glyphicon-list-alt glyphicon-orange"></span>
			</div>
			<div class="col-md-6">
				<p>Visualize o regimento.</p>
			</div>
		</a>
	</div>
	
	<div class="col-md-4">
		<h3>Documentos</h3>
		<a class="btn btn-default btn-lg" href="#/documentos-portal-list">
			<div class="col-md-3">
				<span class="glyphicon glyphicon-bullhorn glyphicon-orange"></span>
			</div>
			<div class="col-md-6">
				<p>Convocações e gravações</p>
				<p>das assembleias.</p>
			</div>
		</a>
	</div>
</div>
<div class="container-fluid">
	<h3>Notícias</h3>
	<div class="col-md-11">
		<div class="col-md-3" style="margin-top: 10px" ng-repeat="item in portalCtrl.noticias">
			<img   alt="{{item.nomeImagem}}" class="img-responsive thumbnail img-center"   data-ng-src="{{item.imageBase64}}"></img>
			<h4>{{item.titulo}}</h4>
			<div ng-bind-html="item.conteudo | limitTo:100"></div>...
			<div class="col-md-6 col-md-offset-7">
				<a ng-href="#/noticia-ver-mais/{{item.id}}" class="btn btn-default btn-block">Ver mais</a>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container-fluid footer-color-green">
	<div class="col-md-12">
		<div class="col-md-4">
			<p>Residencial Sítio Viver Igarassu<br></p>
		</div>
		<div class="col-md-6">
			<p>Rua Frei Miguelinho, 299 - Inhamã<br>
			Igarassu - PE | CEP: 53625-813</p>
		</div>
	</div>
</div>
</div>