<div>
	<h4>Gerenciamento de Boletos</h4>
</div>

<hr>

<div id="top" class="row">

	<div class="col-md-6">
		<div class="input-group">
			<input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar condomínio"> <span class="input-group-btn">
				<button class="btn btn-default" type="submit">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</div>
</div>

<br>
<br>

<div class="row">
	<div class="col-md-offset-10 col-md-1">
		<a class="btn btn-success btn-circle btn-lg" href="#/boleto-create" title="Boleto Avulso"><i class="glyphicon glyphicon-play"></i></a>
	</div>
	<div class="col-md-1">
		<a class="btn btn-success btn-circle btn-lg" href="#/gerarBoletosEmMassa" title="Boletos em Massa"><i class="glyphicon glyphicon-forward"></i></a>
	</div>
</div>

<br>
<br>

<div id="list" class="row">
	<div class="table-responsive col-md-12">
		<table ng-table="ctrl.tableParams" class="table table-condensed table-striped">
			<tr ng-repeat="item in $data">
				<td class="text-left" title="'Nosso número'" filter="{nossoNumero: 'text'}">{{item.nossoNumero}}</td>
				<td class="text-left" title="'Valor'" class="text-right">{{item.valor | currency: "R$ "}}</td>
				<td class="text-left" title="'Boleto'" class="text-center">{{item.nomeBoleto}}</td>
				<td class="text-left" title="'Situação'" class="text-center">{{item.descricaoSituacao}}</td>
				<td class="text-left" title="'Data Vencimento'" class="text-center">{{item.dataVencimento}}</td>
				<td title="'Ações'">
					<a title="Baixar boleto" class="btn btn-default btn-sm btn-circle"  href="{{ctrl.CONTEXT}}/downloads/boleto/{{item.nossoNumero}}/pdf"><i class="glyphicon glyphicon-download-alt"></i></a>
					<a class="btn btn-danger btn-circle" ng-show={{!item.escondeBotaoExcluir}} ng-click="ctrl.delete(item._links.self.href)" title="Excluir"><i class="glyphicon glyphicon-remove"></i></a>
					<a class="btn btn-danger btn-circle" ng-show={{!item.escondeBotaoCancelar}} ng-click="ctrl.cancelar(item._links.self.href)" title="Cancelar"><i class="glyphicon glyphicon-ban-circle"></i></a>
				</td>
			</tr>
			<tr>
				<td colspan="7" ng-if="$data.length == 0">
					Nenhum boleto foi gerado.
				</td>
			</tr>
		</table>
	</div>
</div>
