<div id="error"></div>


<div id="error"></div>
<div class="form-group" ng-class="{'has-error' : form.$submitted && form.uriConfiguradorBoleto.$invalid}">
	<label for="configuradorBoleto" class="control-label col-md-3">Configuração:</label>
	<div class="col-md-6">
		<select id="configuradorBoleto" name="configuradorBoleto" required  class="form-control"
			ng-options="configurador._links.self.href as configurador.nome for configurador in ctrl.configuradores" 
			ng-disabled="ctrl.disabled"
			ng-model="ctrl.boletoDTO.uriConfiguradorBoleto">
			<option value="">Selecione</option>
		</select>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.dataVencimento.$invalid}">
<label for="dataVencimento" class="control-label col-md-3">Data de vencimento:</label>
<div class="input-group col-md-4" style="padding-left: 15px;">
	<mydatepicker  date-options="ctrl.dateOptions" opened="ctrl.opened" ng-model="ctrl.boletoDTO.dataVencimento" />   
</div>
</div>