<form name="form" role="form" onsubmit="ctrl.create()" class="form-horizontal" novalidate>
	<div>
		<h4>Boleto Avulso</h4>
	</div>

	<hr>

		<div id="error"></div>
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.uriConfiguradorBoleto.$invalid}">
			<label for="configuradorBoleto" class="control-label col-md-3">Configuração:</label>
			<div class="col-md-6">
				<select id="configuradorBoleto" name="configuradorBoleto" required  class="form-control"
					ng-options="configurador._links.self.href as configurador.nome for configurador in ctrl.configuradores" 
					ng-disabled="ctrl.disabled"
					ng-model="ctrl.boletoDTO.uriConfiguradorBoleto">
					<option value="">Selecione</option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="bloco" class="control-label col-md-3">Bloco:</label>
			<div class="col-md-6">
				<select id="bloco" name="bloco" required  class="form-control" 
					ng-options="bloco._links.apartamentos.href as bloco.nome for bloco in ctrl.blocos"
					ng-disabled="ctrl.disabled" 
					ng-change="ctrl.getApartamentos(linkApartamentos)" 
					ng-model="linkApartamentos">
					<option value="" >Selecione</option>
				</select>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.uriRecebedorBoleto.$invalid}">
			<label for="apartamento" class="control-label col-md-3">Apartamento:</label>
			<div class="col-md-6">
				<select id="recebedorBoleto" name="recebedorBoleto" required  class="form-control"
					ng-options="apartamento._links.self.href as apartamento.nome for apartamento in apartamentos" ng-disabled="ctrl.disabled"
					ng-model="ctrl.boletoDTO.uriRecebedorBoleto">
					<option value="" selected="selected">Selecione</option>
				</select>
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.dataVencimento.$invalid}">
			<label for="dataVencimento" class="control-label col-md-3">Data de vencimento:</label>
			<div class="input-group col-md-4" style="padding-left: 15px;">
				<mydatepicker  date-options="ctrl.dateOptions" opened="ctrl.opened" ng-model="ctrl.boletoDTO.dataVencimento" />   
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.valor.$invalid}">
			<label for="valor" class="control-label col-md-3">Valor:</label>
			<div class="input-group col-md-4" style="padding-left: 15px;">
				<div class="input-group-addon">R$</div>
				<input id="valor" name="valor" type="text" class="form-control" ng-disabled="ctrl.disabled" required ui-number-mask="2"
					ng-model="ctrl.boletoDTO.valor">
			</div>
		</div>
	<hr>

	<div class="form-group">
		<div class="col-md-3 col-md-offset-3">
			<div>
				<a ng-href="#/boleto-list" class="btn btn-default btn-block">Cancelar</a>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<input type="submit" class="btn btn-success btn-block" value="Salvar">
			</div>
		</div>
	</div>
</form>