<form name="form" role="form" class="form-horizontal" ng-submit="ctrl.confirm()" novalidate>
	<div>
		<h4>Confirmação de Exclusão de Configuração de Boleto</h4>
	</div>

	<hr>

	<div ng-include="'boleto/configurador-boleto-manutencao.tpl.html'"></div>

	<hr>
	
	<div class="form-group">
		<div class="col-md-3 col-md-offset-3">
			<div>
				<a ng-href="#/configurador-boleto-list" class="btn btn-default btn-block">Cancelar</a>
	        </div>
	    </div>
		<div class="col-md-3">
	        <div>
				<button type="submit" disable-on-request class="btn btn-success btn-block">Salvar</button>
	        </div>
	    </div>
	</div>
</form>
