<div class="form-group" ng-class="{'has-error' : form.$submitted && form.nome.$invalid}">
	<label for="nome" class="control-label col-md-3">Nome da Configuração:</label>
	<div class="col-md-8">
		<input id="nome" name="nome" type="text" class="form-control" placeholder="Digite o nome da configuração" required
			ng-disabled="ctrl.disabled"
			ng-model="ctrl.configuradorBoleto.nome">
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.valor.$invalid}">
	<label for="valor" class="control-label col-md-3">Valor do Título:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<div class="input-group-addon">R$</div>
		<input id="valor" name="valor" type="text" class="form-control"
			ng-disabled="ctrl.disabled"
			ui-number-mask="2"
			ng-model="ctrl.configuradorBoleto.valor">
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.especieDoTitulo.$invalid}">
	<label for="especieDoTitulo" class="control-label col-md-3">Espécie de Título:</label>
	<div class="col-md-6">
		<select id="especieDoTitulo" name="especieDoTitulo" class="form-control"
			required
			ng-options="key as val for (key, val) in ctrl.especieDoTituloList"
			ng-disabled="ctrl.disabled"
			ng-model="ctrl.configuradorBoleto.especieDoTitulo">
			<option value="">Selecione</option>
		</select>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.aceite.$invalid}">
	<label for="aceite" class="control-label col-md-3">Aceite:</label>
	<div class="col-md-8">
		<label class="radio-inline"><input type="radio" name="aceite" rel="aceite" value="A" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.aceite">Aceite</label>
		<label class="radio-inline"><input type="radio" name="aceite" rel="aceite" value="N" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.aceite">Não Aceite</label>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.codMora.$invalid}">
	<label for="codMora" class="control-label col-md-3">Código do Juros de Mora:
	</label>
	<div class="col-md-4">
		<label class="radio-inline"><input type="radio" name="codMora" rel="codMora" value="VALOR_POR_DIA" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codMora">Valor por Dia</label>
		<label class="radio-inline"><input type="radio" name="codMora" rel="codMora" value="TAXA_MENSAL" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codMora">Taxa Mensal</label>
		<label class="radio-inline"><input type="radio" name="codMora" rel="codMora" value="ISENTO" required ng-click="ctrl.limparValor(['valorMora'])" ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codMora">Isento</label>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.valorMora.$invalid}" ng-if="ctrl.configuradorBoleto.codMora && ctrl.configuradorBoleto.codMora != 'ISENTO'">
	<label for="valorMora" class="control-label col-md-3">Juros de Mora <br>por Dia/Taxa:</label>
	<div class="input-group col-md-2" style="padding-left: 15px;">
		<div class="input-group-addon" ng-if="ctrl.configuradorBoleto.codMora == 'VALOR_POR_DIA'">R$</div>
		<input id="valorMora" name="valorMora" type="text" class="form-control" required ui-number-mask="2" ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.valorMora">
		<div class="input-group-addon" ng-if="ctrl.configuradorBoleto.codMora == 'TAXA_MENSAL'">%</div>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.codMulta.$invalid}">
	<label for="codMulta" class="control-label col-md-3">Código da Multa:</label>
	<div class="col-md-4">
		<label class="radio-inline"><input type="radio" name="codMulta" rel="codMulta" value="SEM_MULTA" required ng-click="ctrl.limparValor(['valorMulta'])" ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codMulta">Sem Multa</label>
		<label class="radio-inline"><input type="radio" name="codMulta" rel="codMulta" value="VALOR_FIXO" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codMulta">Valor Fixo</label>
		<label class="radio-inline"><input type="radio" name="codMulta" rel="codMulta" value="PERCENTUAL" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codMulta">Percentual</label>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.valorMulta.$invalid}" ng-if="ctrl.configuradorBoleto.codMulta && ctrl.configuradorBoleto.codMulta != 'SEM_MULTA'">
	<label for="valorMulta" class="control-label col-md-3">Valor Multa/Percentual<br> a Ser Aplicado: </label>
	<div class="input-group col-md-2" style="padding-left: 15px;">
		<div class="input-group-addon" ng-if="ctrl.configuradorBoleto.codMulta == 'VALOR_FIXO'">R$</div>
		<input id="valorMulta" name="valorMulta" type="text" class="form-control" ng-required="ctrl.configuradorBoleto.codMulta && ctrl.configuradorBoleto.codMulta != 'SEM_MULTA'" ui-number-mask="2" ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.valorMulta">
		<div class="input-group-addon" ng-if="ctrl.configuradorBoleto.codMulta == 'PERCENTUAL'">%</div>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.codDesconto.$invalid}">
	<label for="codDesconto" class="control-label col-md-3">Código do Desconto:</label>
	<div class="col-md-4">
		<label class="radio-inline"><input type="radio" name="codDesconto" rel="codDesconto" value="SEM_DESCONTO" ng-click="ctrl.limparValor(['diaDeLimiteDesconto', 'valorDesconto'])" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codDesconto">Sem Desconto</label>
		<label class="radio-inline"><input type="radio" name="codDesconto" rel="codDesconto" value="VALOR_FIXO" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codDesconto">Valor Fixo</label>
		<label class="radio-inline"><input type="radio" name="codDesconto" rel="codDesconto" value="PERCENTUAL" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codDesconto">Percentual</label>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.diaDeLimiteDesconto.$invalid}" ng-if="ctrl.configuradorBoleto.codDesconto && ctrl.configuradorBoleto.codDesconto != 'SEM_DESCONTO'">
	<label for="diaDeLimiteDesconto" class="control-label col-md-3">Dia do Desconto:</label>
	<div class="col-md-2">
		<input id="diaDeLimiteDesconto" name="diaDeLimiteDesconto" type="number" class="form-control" maxlength="2" max="31" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.diaDeLimiteDesconto">
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.valorDesconto.$invalid}" ng-if="ctrl.configuradorBoleto.codDesconto && ctrl.configuradorBoleto.codDesconto != 'SEM_DESCONTO'">
	<label for="valorDesconto" class="control-label col-md-3">Valor/Percentual <br>a ser Concedido:</label>
	<div class="input-group col-md-2" style="padding-left: 15px;">
		<div class="input-group-addon" ng-if="ctrl.configuradorBoleto.codDesconto == 'VALOR_FIXO'">R$</div>
		<input id="valorDesconto" name="valorDesconto" type="text" class="form-control" required ui-number-mask="2" ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.valorDesconto">
		<div class="input-group-addon" ng-if="ctrl.configuradorBoleto.codDesconto == 'PERCENTUAL'">%</div>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.codProtesto.$invalid}">
	<label for="codProtesto" class="control-label col-md-3">Código para Protesto:</label>
	<div class="col-md-6">
		<label class="radio-inline"><input type="radio" name="codProtesto" rel="codProtesto" value="PROTESTAR" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codProtesto">Protestar</label>
		<label class="radio-inline"><input type="radio" name="codProtesto" rel="codProtesto" value="NAO_PROTESTAR" required ng-click="ctrl.limparValor(['prazoProtesto'])" ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codProtesto">Não Protestar</label>
		<label class="radio-inline"><input type="radio" name="codProtesto" rel="codProtesto" value="CANCELAMENTO_AUTOMATICO" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codProtesto">Cancelamento Automático</label>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.prazoProtesto.$invalid}" ng-if="ctrl.configuradorBoleto.codProtesto && ctrl.configuradorBoleto.codProtesto == 'PROTESTAR'">
	<label for="prazoProtesto" class="control-label col-md-3">Prazo para Protesto:</label>
	<div class="input-group col-md-3" style="padding-left: 15px;">
		<input id="prazoProtesto" name="prazoProtesto" type="text" class="form-control" placeholder="Digite prazo" required ui-number-mask="0" ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.prazoProtesto">
		<div class="input-group-addon">dias</div>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.codDevolucao.$invalid}">
	<label for="codDevolucao" class="control-label col-md-3">Código para Baixa / Devolução:</label>
	<div class="col-md-6">
		<label class="radio-inline" ng-if="ctrl.configuradorBoleto.codProtesto == 'NAO_PROTESTAR' || ctrl.configuradorBoleto.codProtesto == 'CANCELAMENTO_AUTOMATICO'"><input type="radio" name="codDevolucao" rel="codDevolucao" value="BAIXAR_DEVOLVER"  required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codDevolucao">Baixar / Devolver</label>
		<label class="radio-inline"><input type="radio" name="codDevolucao" rel="codDevolucao" value="NAO_BAIXAR_NAO_DEVOLVER" required ng-click="ctrl.limparValor(['prazoDevolucao'])" ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.codDevolucao">Não Baixar / Não Devolver</label>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.prazoDevolucao.$invalid}" ng-if="ctrl.configuradorBoleto.codDevolucao && ctrl.configuradorBoleto.codDevolucao != 'NAO_BAIXAR_NAO_DEVOLVER'">
	<label for="prazoDevolucao" class="control-label col-md-3">Número de Dias para Baixa / Devolução:</label>
	<div class="input-group col-md-3" style="padding-left: 15px;">
		<input id="prazoDevolucao" name="prazoDevolucao" type="text" class="form-control" placeholder="Digite o número de dias" required ui-number-mask="0" ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.prazoDevolucao">
		<div class="input-group-addon">dias</div>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.localPagamento.$invalid}">
	<label for="localPagamento" class="control-label col-md-3">Local de Pagamento:</label>
	<div class="col-md-8">
		<textarea id="localPagamento" name="localPagamento" class="form-control" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.localPagamento" maxlength="255"></textarea>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.instrucao1.$invalid}">
	<label for="instrucao1" class="control-label col-md-3">Instrução 1:</label>
	<div class="col-md-8">
		<textarea id="instrucao1" name="instrucao1" class="form-control" required ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.instrucao1" maxlength="255"></textarea>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.instrucao2.$invalid}">
	<label for="instrucao2" class="control-label col-md-3">Instrução 2:</label>
	<div class="col-md-8">
		<textarea id="instrucao2" name="instrucao2" class="form-control"  ng-disabled="ctrl.disabled" ng-model="ctrl.configuradorBoleto.instrucao2" maxlength="255"></textarea>
	</div>
</div>
