<div>
	<h4>Lista de Configurações de Boleto</h4>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<a class="btn btn-success btn-circle btn-lg" href="#/configurador-boleto-create" title="Adicionar novo"><i class="glyphicon glyphicon glyphicon-plus"></i></a>
	</div>
</div>

<br>

<div id="list" class="row">
	<div class="table-responsive col-md-12">
		<table ng-table="ctrl.tableParams" show-filter="ctrl.showFilter" class="table table-condensed table-striped">
			<tr ng-repeat="item in $data">
				<td title="'Nome da Configuração'" filter="{nome: 'text'}">{{item.nome}}</td>
				<td title="'Espécie de Título'">{{ctrl.especieDoTituloList[item.especieDoTitulo]}}</td>
				<td title="'Valor do Título'">{{item.valor | currency:'R$ '}}</td>
				<td title="'Ações'" >
					<a class="btn btn-default btn-circle" ng-href="{{ctrl.createHref(item._links.configuradorBoleto.href, 'read')}}" title="Visualizar"><i class="glyphicon glyphicon-search"></i></a>
					<a class="btn btn-default btn-circle" ng-href="{{ctrl.createHref(item._links.configuradorBoleto.href, 'update')}}" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
					<a class="btn btn-danger btn-circle" ng-href="{{ctrl.createHref(item._links.configuradorBoleto.href, 'delete')}}" title="Excluir"><i class="glyphicon glyphicon-remove"></i></a>
				</td>
			</tr>
			<tr>
				<td colspan="4" ng-if="$data.length == 0">
					Nenhuma configuração foi cadastrada.
				</td>
			</tr>
		</table>
	</div>
</div>