<div class="col-md-12 panel panel-default" style="padding-top:10px;">
	<div class="row">
		<label for="numeroRemessa" class="control-label col-md-2"><strong>Remessa:</strong></label>
		<div class="input-group col-md-4" style="padding-left: 15px;">
			<label ng-bind="ctrl.remessa.numeroRemessa"></label>
		</div>
	</div>
</div>

<div class="col-md-12">
	<table ng-table="ctrl.tableParams" show-filter="true" class="table table-condensed table-striped">
		<tr ng-repeat="item in $data">
			<td class="text-left" title="'Nosso número'" filter="{nossoNumero: 'text'}">{{item.nossoNumero}}</td>
			<td class="text-left" title="'Desconto'">{{item.valorDesconto | number:2}}</td>
			<td class="text-left" title="'Valor'" class="text-right">{{item.valor | currency:'R$ '}}</td>
			<td class="text-left" title="'Pagamento'" class="text-center">{{item.dataPagamento}}</td>
			<td class="text-left" title="'Boleto'" class="text-center">{{item.nomeBoleto}}</td>
			<td title="'Ações'">
				<a title="Baixar boleto" class="btn btn-default btn-sm btn-circle"  href="{{ctrl.CONTEXT}}/downloads/boleto/{{item.nossoNumero}}/pdf"><i class="glyphicon glyphicon-download-alt"></i></a>
			</td>
		</tr>
	</table>

</div>
<div class="col-md-12"><hr></div>