<div>
	<h4>Lista de Remessas</h4>
</div>

<hr>
<div class="row alert alert-info" role="alert">
<div class="col-md-7">
  <h5>A geração de remessa poderá levar alguns minutos!</h5>
  Enquanto o sistema estiver gerando você poderá navegar por outras funcionalidades.</br>
  Após a geração ser concluída faça o download do arquivo da remessa, envie-o para caixa e notifique os sacados.</br>

</div>
<div class="col-md-3 col-md-offset-1">
 <span class ="btn btn-default btn-sm btn-circle glyphicon glyphicon-download-alt"></span>
 <span> Download do arquivo remessa</span><br>
 <span class ="btn btn-default btn-sm btn-circle glyphicon glyphicon-send"></span>
 <span> Notificar Sacados</span><br>
 <span class ="btn btn-default btn-sm btn-circle glyphicon glyphicon-search"></span>
 <span> Visualizar Boletos da Remessa</span>
</div>
</div>

<div class="row">
	<div class="col-md-offset-11">
		<a class="btn btn-success btn-large" ng-click="ctrl.gerarRemessa()" ><i class="icon-white glyphicon glyphicon-play"></i> Gerar</a>
	</div>
</div>

<br>

<div id="list" class="row">
	<div class="table-responsive col-md-12">
		<table ng-table="ctrl.tableParams" class="table table-condensed table-striped">
			<tr ng-repeat="item in $data">
				<td title="'Nome'">{{item.nome}}</td>
				<td title="'Número Remessa'">{{item.numeroRemessa}}</td>
				<td title="'Boletos Agrupados'" class="text-left">
					<a title="Arquivo pdf com boletos agrupados" class="btn btn-success btn-sm btn-circle float-none" href="{{ctrl.CONTEXT}}/downloads/remessa/{{item.id}}/boletos/pdf"><i class="glyphicon glyphicon-download-alt"></i></a>
				</td>
				<td title="'Ações'">
					<a title="Arquivo Remessa" class="btn btn-default btn-sm btn-circle" href="{{ctrl.CONTEXT}}/downloads/remessa/{{item.id}}/txt"><i class="glyphicon glyphicon-download-alt"></i></a>
					<a class="btn btn-default btn-sm btn-circle" ng-click="ctrl.notificar(item.numeroRemessa)"  title="Notificar Remessa"><i class="glyphicon glyphicon-send"></i></a>
					<a class="btn btn-default btn-sm btn-circle" ng-href="{{ctrl.createHref(item.id, 'read')}}" title="Visualizar"><i class="glyphicon glyphicon-search"></i></a>
				</td>
			</tr>
			<tr>
				<td colspan="6" ng-if="$data.length == 0">
					Nenhuma remessa foi gerada.
				</td>
			</tr>
		</table>
	</div>
</div>
