<div>
	<h4>Listagem de Boletos</h4>
</div>

<hr>

<div ng-include="'boleto/remessa-read.tpl.html'"></div>

<hr>

<div class="col-md-12">
	<div class="col-md-3">
		<a ng-href="#/remessa-list" class="btn btn-default btn-block">Voltar</a>
	</div>
</div>
