<div class="col-md-12 panel panel-default" style="padding-top:10px;">
	<div class="row">
		<label for="numeroRetorno" class="control-label col-md-2"><strong>Retorno: </strong></label>
		<div class="input-group col-md-4" style="padding-left: 15px;">
			<label ng-bind="ctrl.retorno.numeroRetorno"></label>
		</div>
	</div>
</div>

<div class="col-md-12">
	<table ng-table="ctrl.tableParams" show-filter="true" class="table table-condensed table-striped">
		<tr ng-repeat="item in $data">
			<td class="text-left" title="'Nosso Número'" filter="{nossoNumero: 'text'}">{{item.nossoNumero}}</td>
			<td class="text-left" title="'Detalhe'" class="text-right">{{item.detalhe}}</td>
			<td class="text-left" title="'Data Ocorrência'" class="text-center">{{item.dataOcorrencia}}</td>
			<td class="text-left" title="'Data Efetivação Crédito'" class="text-right">{{item.dataEfetivacaoCredito}}</td>
			<td class="text-left" title="'Valor Pago'" class="text-right">{{item.valorPago | currency: 'R$ '}}</td>
			<td class="text-left" title="'Valor Efetivo Creditado'" class="text-right">{{item.valorEfetivoCreditado | currency: 'R$ '}}</td>
			<td class="text-left" title="'Valor da Tarifa'" class="text-right">{{item.valorTarifa| currency: 'R$ '}}</td>
			<td class="text-left" title="'Valor Multa Juros'" class="text-right">{{item.valorMultaJuros| currency: 'R$ '}}</td>
		</tr>
	</table>

</div>
<div class="col-md-12"><hr></div>