<div id="error"></div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.dataVencimento.$invalid}">
	<label for="dataVencimento" class="control-label col-md-3">Data de vencimento:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<mydatepicker  date-options="ctrl.dateOptions" opened="ctrl.opened" ng-model="ctrl.retorno.dataVencimento" />   
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.configurador.$invalid}">
	<label for="configurador" class="control-label col-md-3">Configuração:</label>
	<div class="col-md-6">
		<select id="configurador" name="configurador" class="form-control"
			required
			ng-options="configurador._links.configuradorBoleto.href as configurador.nome for configurador in ctrl.configuradores"
			ng-model="ctrl.retorno.configurador">
			<option value="">Selecione</option>
		</select>
	</div>
</div>