<form name="form" role="form" onsubmit="ctrl.create()" class="form-horizontal" novalidate>
	<div>
		<h4>Manutenção de Retorno</h4>
	</div>

	<hr>

	<div ng-include="'boleto/retorno-manutencao.tpl.html'"></div>

	<hr>

	<div class="form-group">
		<div class="col-md-3 col-md-offset-3">
			<div>
				<a ng-href="#/retorno-list" class="btn btn-default btn-block">Cancelar</a>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<input type="submit" class="btn btn-success btn-block" value="Salvar">
			</div>
		</div>
	</div>
</form>