<div>
	<h4>Informações do Retorno</h4>
</div>

<hr>

<div ng-include="'boleto/retorno-read.tpl.html'"></div>

<hr>

<div class="col-md-12">
	<div class="col-md-3">
		<a ng-href="#/retorno-list" class="btn btn-default btn-block">Voltar</a>
	</div>
</div>
