<div>
	<h4>Lista de Retornos</h4>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<form class="form-sigin" role="form" ng-submit="ctrl.upload()" enctype="multipart/form-data" method="post">
			<div class="row">
				<div class="col-md-5">
					<file-upload ng-id="arquivo" ng-name="arquivo" ng-model="ctrl.arquivo" show-import-button="true" validExtensions="txt" ></file-upload>
				</div>
			</div>
		</form>
	</div>
</div>

<br>

<div id="list" class="row">
	<div class="table-responsive col-md-12">
		<table ng-table="ctrl.tableParams" class="table table-condensed table-striped">
			<tr ng-repeat="item in $data">
				<td title="'Número Retorno'">{{("1000000"+item.numeroRetorno).slice(-6)}}</td>
				<td title="'Data de Importação'">{{item.dataImportacao}}</td>
				<td title="'Quantidade de Registros'">{{item.quantidadeRegistros}}</td>
				<td title="'Valor Total'">{{item.valorTotal | currency:'R$ '}}</td>
				<td title="'Ações'">
					<a class="btn btn-default btn-sm btn-circle" ng-click="ctrl.downloadFile(item.arquivo, item.nome)"  title="Arquivo Retorno"><i class="glyphicon glyphicon-download-alt"></i></a>
					<a class="btn btn-default btn-sm btn-circle" ng-href="{{ctrl.createHref(item._links.self.href, 'read')}}" title="Visualizar"><i class="glyphicon glyphicon-search"></i></a>
				</td>
			</tr>
			<tr>
				<td colspan="6" ng-if="$data.length == 0">
					Nenhum arquivo de retorno foi adicionado.
				</td>
			</tr>
		</table>
	</div>
</div>
