<div id="error"></div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.configurador.$invalid}">
	<label for="configurador" class="control-label col-md-3">Configuração:</label>
	<div class="col-md-6">
		<select id="configurador" name="configurador" class="form-control"
			required
			ng-options="configurador._links.configuradorBoleto.href as configurador.nome for configurador in ctrl.configuradores"
			ng-disabled="ctrl.disabled"
			ng-model="ctrl.remessa.configuradorBoleto">
			<option value="">Selecione</option>
		</select>
	</div>
</div>