<form name="form" role="form" class="form-horizontal" novalidate>
	<div class="text-center">
		<h4 class="titulo">Cadastro de Valores Customizados</h4>
	</div>

	<hr>
	<div ng-include="'boleto/valor-customizado-manutencao.tpl.html'"></div>

	<hr>

	<div class="form-group">
		<div class="col-md-3 col-md-offset-3">
			<div>
				<a ng-href="#/valor-customizado-list" class="btn btn-default btn-block">Cancelar</a>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<input type="submit" class="btn btn-success btn-block" ng-click="ctrl.update()" value="Salvar">
			</div>
		</div>
	</div>
</form>