<form role="form" class="form-horizontal" novalidate>
	<div class="text-center">
		<h4 class="titulo">Cadastro de Valores Customizáveis para o configurador</h4>
	</div>
	
	<hr>
	
	<div ng-include="'boleto/valor-customizado-manutencao.tpl.html'"></div>
	
	<hr>
	
	<div class="form-group">
		<div class="col-md-3 col-md-offset-1">
			<div>
				<a ng-href="#/valor-customizado-list" class="btn btn-default btn-block">Voltar</a>
			</div>
		</div>
	</div>
</form>