<div id="error"></div>
<div class="form-group" ng-class="{'has-error' : form.$submitted && form.configuradorBoleto.$invalid}">
	<label for="configuradorBoleto" class="control-label col-md-3">Configuração:</label>
	<div class="col-md-6">
		<select id="configuradorBoleto" name="configuradorBoleto" required  class="form-control"
			ng-options="configurador._links.self.href as configurador.nome for configurador in ctrl.configuradores" 
			ng-disabled="ctrl.disabled"
			ng-model="ctrl.valorCustomizado.configuradorBoleto">
			<option value="">Selecione</option>
		</select>
	</div>
</div>

<div class="form-group">
	<label for="bloco" class="control-label col-md-3">Bloco:</label>
	<div class="col-md-6">
		<select id="bloco" name="bloco" required  class="form-control" 
			ng-options="bloco._links.apartamentos.href as bloco.nome for bloco in ctrl.blocos"
			ng-disabled="ctrl.disabled" 
			ng-change="ctrl.getApartamentos(linkApartamentos)" 
			ng-model="linkApartamentos">
			<option value="" >Selecione</option>
		</select>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.recebedorBoleto.$invalid}">
	<label for="apartamento" class="control-label col-md-3">Apartamento:</label>
	<div class="col-md-6">
		<select id="recebedorBoleto" name="recebedorBoleto" required  class="form-control"
			ng-options="apartamento._links.self.href as apartamento.nome for apartamento in apartamentos" ng-disabled="ctrl.disabled"
			ng-model="ctrl.valorCustomizado.recebedorBoleto">
			<option value="" selected="selected">Selecione</option>
		</select>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.valor.$invalid}">
	<label for="valor" class="control-label col-md-3">Valor:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<div class="input-group-addon">R$</div>
		<input id="valor" name="valor" type="text" class="form-control" ng-disabled="ctrl.disabled" required ui-number-mask="2"
			ng-model="ctrl.valorCustomizado.valor">
	</div>
</div>