<div>
	<h4>Lista de Valores Customizados</h4>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<a class="btn btn-success btn-circle btn-lg" href="#/valor-customizado-create" title="Adicionar novo"><i class="glyphicon glyphicon glyphicon-plus"></i></a>
	</div>
</div>


<div id="list" class="row">
	<div class="table-responsive col-md-12">
		<table ng-table="ctrl.tableParams" show-filter="ctrl.showFilter" class="table table-condensed table-striped">
			<tr ng-repeat="item in $data" >
				<td title="'Configuração'" filter="{nomeConfigurador: 'text'}">{{item.nomeConfigurador}}</td>
				<td title="'Apartamento'">{{item.identificacaoRecebedorBoleto}}</td>
				<td title="'Valor'">{{item.valor | currency:'R$ '}}</td>
				<td title="'Ações'">
					<a class="btn btn-default btn-circle" ng-href="{{ctrl.createHref(item._links.valorCustomizado.href, 'read')}}" title="Visualizar"><i class="glyphicon glyphicon-search"></i></a>
					<a class="btn btn-default btn-circle" ng-href="{{ctrl.createHref(item._links.valorCustomizado.href, 'update')}}" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
					<a class="btn btn-danger btn-circle" ng-click="ctrl.delete(item._links.valorCustomizado.href)" title="Excluir"><i class="glyphicon glyphicon-remove"></i></a>
				</td>
			</tr>
			<tr ng-if="$data.length == 0">
				<td colspan="4">Nenhum valor customizado foi cadastrado.</td>
			</tr>
		</table>
	</div>
</div>
