<p class="input-group">
   <input 
   datepicker-localdate
   type="text" class="form-control" 
   uib-datepicker-popup="dd/MM/yyyy" 
   ng-model="ngModel" 
   is-open="opened" 
   min="minDate" 
   datepicker-options="dateOptions"
   date-disabled="disabled(date, mode)" 
   show-button-bar="false"
   ng-required="true" 
   close-text="Fechar"
   current-text= "Hoje"
   clear-text= "Limpar"
   readonly="readonly"
   />
   <span class="input-group-btn">
     <button type="button" class="btn btn-default" ng-click="opened = !opened"><i class="glyphicon glyphicon-calendar"></i></button>
   </span>
</p>