<div class="modal-header">
	<h3>{{modalOptions.headerText}}</h3>
</div>

<div class="modal-body">
  	<p>{{modalOptions.bodyText}}</p>
</div>

<div class="modal-footer">
	<div class="col-md-4 col-md-offset-2">
		<button type="button" class="btn btn-default btn-block" ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
	</div>
	<div class="col-md-4">
		<button class="btn btn-danger btn-block" ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
	</div>
</div>