<div>
	<h4>Lista de Despesas</h4>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<a class="btn btn-success btn-circle btn-lg" href="#/despesa-create" title="Adicionar nova"><i class="glyphicon glyphicon glyphicon-plus"></i></a>
	</div>
</div>

<br>

<div id="list" class="row">
	<div class="table-responsive col-md-12">
		<table ng-table="ctrl.tableParams" class="table table-condensed table-striped" show-filter="ctrl.showFilter">
			<tr ng-repeat="item in $data">
				<td class="text-left" title="'Nome'" filter="{nome: 'text'}" >{{item.nome}}</td>
				<td class="text-center" title="'Valor'" class="text-center">{{item.valor | currency:'R$ '}}</td>
				<td class="text-center" title="'Categoria'" class="text-center">{{ctrl.categoriaList[item.categoria]}}</td>
				<td class="text-center" title="'Data de Vencimento'" class="text-center">{{item.dataVencimento}}</td>
				<td class="text-center" title="'Data de Pagamento'" class="text-center">{{item.dataPagamento}}</td>
				<td class="text-center" title="'Ações'">
					<a class="btn btn-default btn-circle" ng-href="#/despesa-read/{{item.id}}" title="Editar"><i class="glyphicon glyphicon-search"></i></a>
					<a class="btn btn-default btn-circle" ng-href="#/despesa-update/{{item.id}}" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
					<a class="btn btn-danger btn-circle" ng-click="ctrl.apagar(item.id)" title="Excluir"><i class="glyphicon glyphicon-remove"></i></a>
				</td>
			</tr>
			<tr>
				<td colspan="7" ng-if="$data.length == 0">
					Nenhum registro encontrado.
				</td>
			</tr>
		</table>
	</div>
</div>
