<div class="form-group" ng-class="{'has-error' : form.$submitted && form.categoria.$invalid}">
	<label for="categoria" class="control-label col-md-3">Categoria:</label>
	<div class="col-md-4" style="padding-left: 15px;">
		<select id="categoria" name="categoria" class="form-control" required ng-options="key as val for (key, val) in ctrl.categoriaList"
			ng-disabled="ctrl.disabled" ng-model="ctrl.despesa.categoria">
			<option value="">Selecione</option>
		</select>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.nome.$invalid}">
	<label for="nome" class="control-label col-md-3">Nome:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<input id="nome" name="nome" type="text" class="form-control" placeholder="Digite o nome da despesa" required ng-disabled="ctrl.disabled"
			ng-model="ctrl.despesa.nome">
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.valor.$invalid}">
	<label for="valor" class="control-label col-md-3">Valor:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<div class="input-group-addon">R$</div>
		<input id="valor" name="valor" type="text" class="form-control" ng-disabled="ctrl.disabled" ui-number-mask="2" ng-model="ctrl.despesa.valor"
			required>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.dataVencimento.$invalid}">
	<label for="dataVencimento" class="control-label col-md-3">Data de vencimento:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<mydatepicker ng-disabled="ctrl.disabled" date-options="ctrl.dateOptions" opened="ctrl.opened" ng-model="ctrl.despesa.dataVencimento" required />
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.dataPagamento.$invalid}">
	<label for="dataPagamento" class="control-label col-md-3">Data de pagamento:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<mydatepicker ng-disabled="ctrl.disabled"  date-options="ctrl.dateOptions" opened="ctrl.openedb" ng-model="ctrl.despesa.dataPagamento" />
	</div>
</div>

<div class="form-group">
	<label for="comprovante" class="control-label col-md-3">Comprovante de pagamento:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<file-upload 
			ng-id="comprovante" 
			ng-name="ctrl.despesa.nomeArquivoComprovante" 
			ng-model="ctrl.despesa.comprovante" 
		 	maxfilesizemb="4"
		 	validExtensions="jpeg,jpg,png,pdf" />
		 	
	</div>
</div>


<!-- <div class="form-group" ng-class="{'has-error' : form.$submitted && form.valor.$invalid}">
	<label for="valor" class="control-label col-md-3">Valor:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<span class="input-group-btn">
			<button type="button" class="btn btn-info btn-file"><i class="glyphicon glyphicon-download"></i></button>
		</span>
		<input id="nomeArquivoComprovante" name="nomeArquivoComprovante" type="text" class="form-control" ng-disabled="true" ng-model="ctrl.despesa.nomeArquivoComprovante">
	</div>
</div>
 -->