<form role="form" class="form-horizontal" novalidate>
	<div class="text-center">
		<h4 class="titulo">Condomínio Cadastrado</h4>
	</div>
	
	<hr>
	
	<div ng-include="'boleto/configurador-boleto-manutencao.tpl.html'"></div>
	
	<hr>
	
	<div class="form-group">
		<div class="col-md-3 col-md-offset-1">
			<div>
				<a ng-href="#/condominio-list" class="btn btn-default btn-block">Voltar</a>
			</div>
		</div>
	</div>
</form>