<div>
	<h4>Lista de Condomínios</h4>
</div>

<hr>

<div id="top" class="row">

	<div class="col-md-6">
		<div class="input-group">
			<input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar condomínio"> <span class="input-group-btn">
				<button class="btn btn-default" type="submit">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</div>

	<div class="col-md-3 col-md-offset-3">
		<a class="btn btn-success btn-block" href="#/condominio-create">Novo condomínio</a>
	</div>
</div>
<br>

<div id="list" class="row">

	<div class="table-responsive col-md-12">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th width="27%">Nome do Condomínio</th>
					<th width="25%">Síndico</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in ctrl.condominio">
					<td ng-bind="item.nome"></td>
					<td ng-bind="item.sindico"></td>
					<td>
						<a class="btn btn-default" ng-href="{{ctrl.createHref(item._links.condominio.href, 'read')}}">Visualizar</a>
						<a class="btn btn-default" ng-href="{{ctrl.createHref(item._links.condominio.href, 'update')}}">Alterar</a>
						<a class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

<div class="col-md-12 text-center">
	<ul class="pagination">
		<li class="disabled"><a>&lt; Anterior</a></li>
		<li class="disabled"><a>1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
	</ul>
</div>

<div ng-include="'confirma-delete.tpl.html'"></div>
