<div class="form-group">
	<label for="nome" class="control-label col-md-3">Nome do Condomínio:</label>
	<div class="col-md-8">
		<input id="nome" type="text" class="form-control" placeholder="Digite o nome do condomínio" ng-disabled="ctrl.disabled"
			ng-model="ctrl.configuradorBoleto.nome">
	</div>
</div>

<div class="form-group">
	<label for="empresa" class="control-label col-md-3">Empresa:</label>
	<div class="col-md-6">
		<div class="input-group">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span> <input name="data[search]" class="form-control" id="search" type="text" placeholder="Selecione a empresa">
		</div>
	</div>
</div>

<div class="form-group">
	<label for="sindico" class="control-label col-md-3">Síndico:</label>
	<div class="col-md-6">
		<div class="input-group">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span> <input name="data[search]" class="form-control" id="search" type="text" placeholder="Selecione o síndico">
		</div>
	</div>
</div>

<div class="form-group">
	<label for="sindico" class="control-label col-md-3">Quantidade de Blocos:</label>
	<div class="col-md-6">
		<div class="input-group number-spinner col-md-3">
			<span class="input-group-btn data-dwn">
				<button class="btn btn-default" data-dir="dwn">
					<span class="glyphicon glyphicon-minus"></span>
				</button>
			</span> 
			<input type="text" class="form-control text-center" value="1" min="1" max="100">
			<span class="input-group-btn data-up">
				<button class="btn btn-default" data-dir="up">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</span>
		</div>
	</div>
</div>

<div class="form-group">
	<label for="sindico" class="control-label col-md-3">Quantidade de Apartamentos por Bloco:</label>
	<div class="col-md-6">
		<div class="input-group number-spinner col-md-3">
			<span class="input-group-btn data-dwn">
				<button class="btn btn-default" data-dir="dwn">
					<span class="glyphicon glyphicon-minus"></span>
				</button>
			</span> 
			<input type="text" class="form-control text-center" value="1" min="1" max="100">
			<span class="input-group-btn data-up">
				<button class="btn btn-default" data-dir="up">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</span>
		</div>
	</div>
</div>

<script>
	$(function() {
		var action;
		$(".number-spinner button").mousedown(function() {
			btn = $(this);
			input = btn.closest('.number-spinner').find('input');
			btn.closest('.number-spinner').find('button').prop("disabled", false);

			if (btn.attr('data-dir') == 'up') {
				action = setInterval(function() {
					if (input.attr('max') == undefined || parseInt(input.val()) < parseInt(input.attr('max'))) {
						input.val(parseInt(input.val()) + 1);
					} else {
						btn.prop("disabled", true);
						clearInterval(action);
					}
				}, 50);
			} else {
				action = setInterval(function() {
					if (input.attr('min') == undefined || parseInt(input.val()) > parseInt(input.attr('min'))) {
						input.val(parseInt(input.val()) - 1);
					} else {
						btn.prop("disabled", true);
						clearInterval(action);
					}
				}, 50);
			}
		}).mouseup(function() {
			clearInterval(action);
		});
	});
</script>