<div>
	<h4>Documentos</h4>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<a class="btn btn-success btn-circle btn-lg" href="#/documentos-create" title="Adicionar novo"><i class="glyphicon glyphicon glyphicon-plus"></i></a>
	</div>
</div>

<br>

<div id="list" class="row">
	<div class="table-responsive col-md-12">
		<table ng-table="ctrl.tableParams" class="table table-condensed table-striped">
			<tr ng-repeat="item in $data">
				<td class="text-left" title="'Categoria'" >{{item.nomeCategoriaDocumento}}</td>
				<td class="text-center" title="'Data de Criação'" class="text-center">{{item.dataCriacao}}</td>
				<td class="text-center" title="'Nome'" class="text-center">{{item.nome}}</td>
				<td class="text-center" title="'Ações'">
					<a title="Baixar documento" class="btn btn-default btn-sm btn-circle"  href="{{ctrl.CONTEXT}}/downloads/documento/{{item.id}}/pdf"><i class="glyphicon glyphicon-download-alt"></i></a>
					<a class="btn btn-danger btn-circle" ng-click="ctrl.delete(item.id)" title="Excluir"><i class="glyphicon glyphicon-remove"></i></a>
				</td>
			</tr>
			<tr>
				<td colspan="7" ng-if="$data.length == 0">
					Nenhum registro encontrado.
				</td>
			</tr>
		</table>
	</div>
</div>