<div class="form-group">
	<label for="bloco" class="control-label col-md-3">Categoria:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<select id="categoria" name="categoria" required  class="form-control" 
			ng-options="value.id as value.nome for (key, value) in ctrl.documentoCategoria"
			ng-disabled="ctrl.disabled" 
			ng-model="ctrl.documento.categoriaId">
			<option value="" >Selecione</option>
		</select>
	</div>
</div>

<div class="form-group" ng-class="{'has-error' : form.$submitted && form.descricao.$invalid}">
	<label for="descricao" class="control-label col-md-3">Breve Descrição:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;" >
		<input id="descricao" name="descricao" type="text" class="form-control" ng-disabled="ctrl.disabled" required maxlength="100"
			ng-model="ctrl.documento.descricao">
	</div>
</div>

<div class="form-group">
	<label for="arquivo" class="control-label col-md-3">Documento:</label>
	<div class="input-group col-md-4" style="padding-left: 15px;">
		<file-upload 
			ng-id="arquivo" ng-name="arquivo" ng-model="ctrl.documento.arquivo" 
		 	show-import-button="false" maxfilesizemb="1" validExtensions="pdf" />
	</div>
</div>

