<div>
	<h4>Documentos</h4>
</div>

<hr>

<div ng-repeat-start="categoria in ctrl.categorias" class="header">
	<h1>{{categoria.nome}}</h1>
</div>

<table class="table table-condensed table-striped">
	<tr class="header">
		<td class="text-center"><b>Descrição</b></td>
		<td class="text-center"><b>Data de Criação</b></td>
		<td class="text-center"><b>Arquivo</b></td>
	</tr>
	<tr ng-repeat="documento in categoria.documentos">
		<td class="text-center">{{documento.descricao}}</td>
		<td class="text-center">{{documento.dataCriacao}}</td>
		<td class="text-center">
			<a title="Baixar documento" class="btn btn-default btn-sm btn-circle"  href="{{ctrl.CONTEXT}}/downloads/documento/{{documento.id}}/pdf"><i class="glyphicon glyphicon-download-alt"></i></a>
		</td>
	</tr>
	<tr>
		<td colspan="7" ng-if="categoria.documentos.length == 0">
			Nenhum registro encontrado.
		</td>
	</tr>
</table>

<div ng-repeat-end>
	<br/>
</div>