<form name="form" role="form" class="form-horizontal" ng-submit="ctrl.action()" method="post" enctype="multipart/form-data" novalidate>
	<div>
		<h4>Cadastro de Documento</h4>
	</div>

	<hr>
	<div id="error"></div>
	<div ng-include="'condominio/documento-manutencao.tpl.html'"></div>
	
	<hr>

	<div class="form-group">
		<div class="col-md-3 col-md-offset-3">
			<div>
				<a ng-href="#/documentos" class="btn btn-default btn-block">Cancelar</a>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<button type="submit" disable-on-request class="btn btn-success btn-block">Salvar</button>
			</div>
		</div>
	</div>
</form>