<div>
  
<input type="hidden" name="id" ng-model = "ctrl.morador.id">
<uib-tabset>
  <uib-tab>
    <uib-tab-heading>
      <span>Dados Básicos</span>
    </uib-tab-heading>
    	<br>
		 	<div class="form-group" ng-class="{'has-error' : form.$submitted && form.nome.$invalid}">
			<label for="nome" class="control-label col-md-3">Nome:</label>
			<div class="input-group col-md-4" style="padding-left: 15px;" >
				<input id="nome" name="nome" type="text" class="form-control" ng-disabled="ctrl.disabled" required maxlength="100"
					ng-model="ctrl.morador.nome">
			</div>
		</div>
		
		
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.email.$invalid}">
			<label for="email" class="control-label col-md-3">Email:</label>
			<div class="input-group col-md-4" style="padding-left: 15px;" >
				<input name="email" type="email" class="form-control" id="email" ng-disabled="ctrl.disabled" required maxlength="100"
					ng-model="ctrl.morador.email">
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.celular.$invalid}">
			<label for="celular" class="control-label col-md-3">Celular:</label>
			<div class="input-group col-md-4" style="padding-left: 15px;" >
				<input name="celular" type="text" class="form-control" id="celular" ng-disabled="ctrl.disabled" required maxlength="100"
					ng-model="ctrl.morador.celular" ui-br-phone-number>
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.tipoPessoa.$invalid}">
			<label for="tipoPessoa" class="control-label col-md-3">Pessoa:</label>
			<div class="col-md-8">
				<label class="radio-inline"><input type="radio" name="tipoPessoa" rel="tipoPessoa" value="1" required ng-disabled="ctrl.disabled" 
				ng-model="ctrl.morador.tipoPessoa">Física</label>
				<label class="radio-inline"><input type="radio" name="tipoPessoa" rel="tipoPessoa" value="2" required ng-disabled="ctrl.disabled" 
				ng-model="ctrl.morador.tipoPessoa">Jurídica</label>
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.cpf.$invalid}" ng-if="ctrl.morador.tipoPessoa== '1'">
			<label for="cpf" class="control-label col-md-3">CPF:</label>
			<div class="input-group col-md-4" style="padding-left: 15px;" >
				<input name="cpf" type="text" class="form-control" id="cpf" ng-disabled="ctrl.disabled" required maxlength="100"
					ng-model="ctrl.morador.cpf" ui-br-cpf-mask>
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.dataNascimento.$invalid}" ng-if="ctrl.morador.tipoPessoa== '1'">
			<label for="dataNascimento" class="control-label col-md-3">Data de Nascimento:</label>
			<div class="input-group col-md-4" style="padding-left: 15px;">
				<mydatepicker  date-options="ctrl.dateOptions" opened="ctrl.opened" ng-model="ctrl.morador.dataNascimento" />
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.cn2.$invalid}" ng-if="ctrl.morador.tipoPessoa== '2'">
			<label for="cnpj" class="control-label col-md-3">CNPJ:</label>
			<div class="input-group col-md-4" style="padding-left: 15px;" >
				<input name="cnpj" type="text" class="form-control" id="cnpj" ng-disabled="ctrl.disabled" required maxlength="100"
					ng-model="ctrl.morador.cnpj" ui-br-cn2-mask>
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.nomeFantasia.$invalid}" ng-if="ctrl.morador.tipoPessoa== '2'">
			<label for="nomeFantasia" class="control-label col-md-3">Nome Fantasia:</label>
			<div class="input-group col-md-4" style="padding-left: 15px;" >
				<input name="nomeFantasia" type="text" class="form-control" id="nomeFantasia" ng-disabled="ctrl.disabled" required maxlength="100"
					ng-model="ctrl.morador.nomeFantasia">
			</div>
		</div>
  </uib-tab>
  <uib-tab heading="Apartamentos">
	<br>
	<div class="form-group">
		<label for="bloco" class="control-label col-md-3">Bloco:</label>
		<div class="col-md-3" style="padding-left: 9px;">
			<select id="bloco" name="bloco"  class="form-control" 
				ng-options="bloco._links.apartamentos.href as bloco.nome for bloco in ctrl.blocos"
				ng-disabled="ctrl.disabled" 
				ng-change="ctrl.getApartamentos(linkApartamentos)" 
				ng-model="linkApartamentos">
				<option value="" >Selecione</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label for="apartamento" class="control-label col-md-3">Apartamento:</label>
		<div class="col-md-3" style="padding-left:9px;">
			<select id="apartamento" name="apartamento"  class="form-control"
				ng-options="apartamento._links.self.href as apartamento.nome for apartamento in apts" ng-disabled="ctrl.disabled"
				ng-model="ctrl.morador.uriApartamento">
				<option value="" selected="selected">Selecione</option>
			</select>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error' : form.$submitted && form.tipo.$invalid}" >
		<label for="tipo" class="control-label col-md-3">Tipo:</label>
		<div class="input-group col-md-4" style="padding-left: 15px;" >
			<label class="radio-inline"><input type="radio" name="tipo" rel="tipo" value="PR" ng-disabled="ctrl.disabled" 
			ng-model="ctrl.morador.tipo">Proprietário</label>
			<label class="radio-inline"><input type="radio" name="tipo" rel="tipo" value="IQ" ng-disabled="ctrl.disabled" 
			ng-model="ctrl.morador.tipo">Inquilino</label>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error' : form.$submitted && form.responsavelBoleto.$invalid}">
		<label for="responsavelBoleto" class="control-label col-md-3">Responsável pelo boleto:</label>
		<div class="col-md-8">
			<label class="radio-inline"><input type="radio" name="responsavelBoleto" rel="responsavelBoleto" value="false" required ng-disabled="ctrl.disabled" 
			ng-model="ctrl.morador.responsavelBoleto">Não</label>
			<label class="radio-inline"><input type="radio" name="responsavelBoleto" rel="responsavelBoleto" value="true" required ng-disabled="ctrl.disabled" 
			ng-model="ctrl.morador.responsavelBoleto">Sim</label>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-md-3 col-md-offset-6">
			<div>
				<button type="button" class="btn btn-danger" ng-click="addApartamento()" > Adicionar</button>
			</div>
		</div>
	</div>
	
	<br>
	
	<div id="list" class="form-group">
		<div class="table-responsive col-md-12">
			<table class="table table-condensed table-striped">
		        <tr>
					<td width="50%">Apartamento</td>
					<td width="20%">Tipo morador</td>
					<td width="20%">Responsável pelo boleto</td>
					<td width="10%">Ação</td>
				</tr>
		        <tr ng-repeat="item in ctrl.morador.apartamentos">
		            <td class="text-left">{{item.nome}}</td>
		            <td class="text-left">{{ctrl.tipoMorador[item.tipo]}}</td>
		            <td class="text-left">{{ctrl.simNao[item.responsavelBoleto]}}</td>
		            <td class="text-center" >
		            	<a class="btn btn-danger btn-circle" ng-click="ctrl.deleteApartamento(item)" title="Excluir"><i class="glyphicon glyphicon-remove"></i></a>
		            </td>
		        </tr>
		        <tr>
					<td ng-if="ctrl.morador.apartamentos == 0" colspan="4">
						Nenhum apartamento cadastrado.
					</td>
				</tr>
	       </table>
		</div>
	</div>
  </uib-tab>
</uib-tabset>