<div>
	<h4>Moradores</h4>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<a class="btn btn-success btn-circle btn-lg" href="#/moradores-create" title="Adicionar novo"><i class="glyphicon glyphicon glyphicon-plus"></i></a>
	</div>
</div>

<br>

<div id="list" class="row">
	<div class="table-responsive col-md-12">
		<table ng-table="ctrl.tableParams" class="table table-condensed table-striped">
			<tr ng-repeat="item in $data">
				<td class="text-center" title="'Nome'" class="text-center">{{item.nome}}</td>
				<td class="text-center" title="'Apartamentos'" class="text-center">
					<div ng-bind-html="item.apartamentosFormatados"></div>
				</td>
				<td class="text-center" title="'Ações'">
					<a class="btn btn-default btn-circle" ng-href="#/moradores-update/{{item.id}}" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
					<a class="btn btn-danger btn-circle" ng-click="ctrl.delete(item.id)" title="Excluir"><i class="glyphicon glyphicon-remove"></i></a>
				</td>
			</tr>
			<tr>
				<td colspan="7" ng-if="$data.length == 0">
					Nenhum registro encontrado.
				</td>
			</tr>
		</table>
	</div>
</div>