<div ng-controller="reservaController as crtl">
    <div class="row">
        <div class="col-md-8">
            <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
        </div>
        <div class="col-md-4">
            <a type="button" class="btn btn-success" ng-href="#/reservas-create" > Reservar </a>
        </div>
        <div class="col-md-4">
            <div ng-show="SelectedEvent" class="alert alert-success" style="margin-top:50px">
                <h2 style="margin-top:0px"> Evento Selecionado:</h2>
                <h3 style="color:#A9A50E">{{SelectedEvent.title}}</h3>
                <p>{{SelectedEvent.description}}</p>
                <p ng-if="crtl.hasAuthority('ADMIN')" >
	                <a class="btn btn-primary" ng-href="#/reservas-update/{{SelectedEvent.id}}">Alterar</a>
	                <a class="btn btn-danger" ng-click="crtl.delete(SelectedEvent.id)">Remover</a>
	                <a class="btn btn-success" ng-click="crtl.aprovar(SelectedEvent.id)">Aprovar</a>
                </p>
            </div>
        </div>
        
    </div>
</div>