<form name="form" role="form" class="form-horizontal" onsubmit="ctrl.action()" novalidate>
	<div>
		<h4>Reservar Salão de Festa</h4>
	</div>

	<hr>
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.titulo.$invalid}">
			<label for="titulo" class="control-label col-md-3">Título:</label>
			<div class="input-group col-md-4" style="padding-left: 15px;">
				<input id="titulo" name="titulo" type="text" class="form-control"
					ng-model="ctrl.reserva.titulo">
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.descricao.$invalid}">
			<label for="titulo" class="control-label col-md-3">Descrição:</label>
			<div class="input-group col-md-4" style="padding-left: 15px;">
				<input id="descricao" name="descricao" type="text" class="form-control"
					ng-model="ctrl.reserva.descricao">
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error' : form.$submitted && form.inicio.$invalid}">
			<label for="dataVencimento" class="control-label col-md-3">Data do Evento:</label>
			<div class="input-group col-md-4" style="padding-left: 15px;">
				<mydatepicker  date-options="ctrl.dateOptions" opened="ctrl.opened" ng-model="ctrl.reserva.inicio" />   
			</div>
		</div>
	<hr>

	<div class="form-group">
		<div class="col-md-3 col-md-offset-3">
			<div>
				<a ng-href="#/reservas" class="btn btn-default btn-block">Cancelar</a>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<button type="submit" disable-on-request class="btn btn-success btn-block">Reservar</button>
			</div>
		</div>
	</div>
</form>