.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.button-bar{
	margin-left: 0px; 
	background-color: #f4f4f4
}

body {
	font-family: 'Roboto', sans-serif;
	background-size: cover;
	color: #76B831;
	background-image: url("../images/bg.jpg");
}

label {
	font-weight: normal;
	color: #333;
}

th {
	color: #333;
}

td {
	color: #667667;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #00bb00, rgba(0, 0, 0, 0));
	margin-top: 20px;
	margin-bottom: 25px;
}

h4 {
	text-align: center;
	color: #667667;
}

.pagination {
	color: #667667;
}

.btn-confirm {
	width: 90px;
}

.panel-heading {
	padding: 5px 15px;
}

.form-inline {
	margin: 5px
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	margin: 0 auto 10px;
	display: block;
}

.panel-base {
	-webkit-box-shadow: 0px 7px 25px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 7px 25px 1px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 7px 25px 1px rgba(0, 0, 0, 0.35);
}

.jumbotron {
	background-color: #ffffff;
	color: #ffffff;
}

.feedback {
	color: #a11414;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.min-panel-height {
	min-height: 520px;
}

.btn-confirm {
	width: 90px;
}

.input-group {
	padding-left: 0px;
}

.spinner {
	width: 100px;
}

.spinner input {
	text-align: right;
}

.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}

.input-group-btn-vertical>.btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 8px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
}

.input-group-btn-vertical>.btn:first-child {
	border-top-right-radius: 4px;
}

.input-group-btn-vertical>.btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
	position: absolute;
	top: 0;
	left: 4px;
}

.quadro-login {
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.vertical-offset-100{
    padding-top:100px;
}

.quadro-login .panel-body {
	padding: 20px 30px;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
	box-shadow: 2px 3px 5px 0 #898;
	margin-right: 4px;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 13px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
	margin-top: -7px;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 19px 23px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}

.btn-circle.btn-success {
	background: #009900;
	border: 1px solid #679F2C;
	float: right;
	margin-right: 20px;
}

td a.float-none {
	float: none !important;
}

.modal-header h3 {
	color: ##00bb00;
}

.modal-body p {
	color: #666767;
}

.portal-body navbar-nav>li {
	border-left: 1px solid #e7e7e7;
}

.portal-body form-control[readonly] {
	background-color: #FFF;
}

.portal-body navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.portal-body .footer-color-green {
	background-color: #8aca1e;
	padding-top: 20px;
	margin-top: 20px;
}

.portal-body .carousel-inner img {
	width: 100%;
	margin: auto;
	min-height: 200px;
}

.portal-body h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #8aca1e;
}

.portal-body p {
	color: #385739;
}

.portal-body h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #385739;
}

.portal-body h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:left;
	color: #ea7617;
	font-size: 17px;
}

.glyphicon-orange {
	color: #ea7617;
	font-size: 45px;
	padding-top: 5px;
}

.ng-table-pager {
	text-align: center;
}

.pagination > .disabled > a[ng-switch-when='first'],
.pagination > .disabled > a[ng-switch-when='page'],
.pagination > .disabled > a[ng-switch-when='last'] {
 	background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.table-responsive .thumbnail {
	width: 100px;
    height: 50px;
}

.img-center {margin:0 auto;}


