<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modalLabel">Excluir Item</h4>
			</div>
			<div class="modal-body">Deseja realmente excluir este item?</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-confirm" data-dismiss="modal">N&atilde;o</button>
				<button type="button" class="btn btn-danger btn-confirm">Excluir</button>
			</div>
		</div>
	</div>
</div>