<nav class="navbar navbar-default" ng-controller="appController as appCtrl">

	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-click="appCtrl.home()" href="javascript:void(0)"><img alt="CondoGreen" src="images/logo.png"></a>
		</div>

		

		<div id="navbar" class="collapse navbar-collapse navbar-right">
			<ul ng-if="!appCtrl.authenticated()" class="nav navbar-nav">
				<li><a href="#/login"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
			</ul>
			
			<ul ng-if="appCtrl.authenticated()" class="nav navbar-nav">
				<li><button class="btn button-bar navbar-brand" ng-click="appCtrl.home()" type="button">Home</button></li>
				<li ng-if="appCtrl.hasAuthority('ADMIN')">
					<!-- Single button using append-to-body -->
				    <div  uib-dropdown dropdown-append-to-body>
				      <button ng-if="appCtrl.hasAuthority('ADMIN')" id="btn-append-to-body" type="button" class="btn button-bar navbar-brand" uib-dropdown-toggle>
				        Boleto <span class="caret"></span>
				      </button>
				      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
				        <li role="menuitem" ng-class="{ active: appCtrl.isActive('/configurador-boleto-list')}"><a ng-href="#/configurador-boleto-list">Configurações de Boleto</a></li>
						<li role="menuitem" ng-class="{ active: appCtrl.isActive('/boleto-list')}"><a ng-href="#/boleto-list">Gerenciar Boletos</a></li>
						<li role="menuitem" ng-class="{ active: appCtrl.isActive('/valor-customizado-list')}"><a ng-href="#/valor-customizado-list">Valores Customizados</a></li>
				      </ul>
				    </div>
				</li>
				
				<li ng-if="appCtrl.hasAuthority('ADMIN')">
					<!-- Single button using append-to-body -->
				    <div  uib-dropdown dropdown-append-to-body>
				      <button ng-if="appCtrl.hasAuthority('ADMIN')" id="btn-append-to-body" type="button" class="btn button-bar navbar-brand" uib-dropdown-toggle>
				        Movimentação <span class="caret"></span>
				      </button>
				      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
				      	<li role="menuitem" ng-class="{ active: appCtrl.isActive('/remessa-list')}"><a ng-href="#/remessa-list">Remessas</a></li>
						<li role="menuitem" ng-class="{ active: appCtrl.isActive('/retorno-list')}"><a ng-href="#/retorno-list">Retornos</a></li>
				      </ul>
				    </div>
				</li>
				
				<li ng-if="appCtrl.hasAuthority('ADMIN')">
					<!-- Single button using append-to-body -->
				    <div  uib-dropdown dropdown-append-to-body>
				      <button ng-if="appCtrl.hasAuthority('ADMIN')" id="btn-append-to-body" type="button" class="btn button-bar navbar-brand" uib-dropdown-toggle>
				        Cadastro <span class="caret"></span>
				      </button>
				      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
				      	<li ng-class="{ active: appCtrl.isActive('/condominio-create')}"><a ng-href="#/condominio-create">Condomínio</a></li>
						<li ng-class="{ active: appCtrl.isActive('/apartamentos-list')}"><a ng-href="#/apartamentos-list">Apartamentos</a></li>
						<li ng-class="{ active: appCtrl.isActive('/moradores-list')}"><a ng-href="#/apartamentos-list">Moradores</a></li>
						<li ng-class="{ active: appCtrl.isActive('/despesa-list')}"><a ng-href="#/despesa-list">Despesas</a></li>
				      </ul>
				    </div>
				</li>
				
				<li><button class="btn navbar-brand button-bar"  title="logout"><a ng-href="#/logout"><i class="glyphicon glyphicon-log-out"></i> Sair</a></button></li>
			</ul>
		</div>
	</div>
</nav>
<br>