

<div class="container" style="margin-top:10px;">
	    <!-- Small boxes (Stat box) -->
		<div class="row">
	      <div class="col-lg-3 col-xs-6">
	        <!-- small box -->
	        <div class="small-box bg-aqua">
	          <div class="inner">
	            <h3>{{dashboardCtrl.dashboard.valorTotalReceitas | currency:'R$ '}}</h3>
	            <p>Receitas</p>
	          </div>
	          <div class="icon">
	            <i class="ion ion-bag"></i>
	          </div>
	          <a href="#" class="small-box-footer">Mais Informações<i class="fa fa-arrow-circle-right"></i></a>
	        </div>
	      </div>
	      <!-- ./col -->
	      <div class="col-lg-3 col-xs-6">
	        <!-- small box -->
	        <div class="small-box bg-green">
	          <div class="inner">
	            <h3>{{dashboardCtrl.dashboard.valorTotalDespesas | currency:'R$ '}}</h3>
	
	            <p>Despesas</p>
	          </div>
	          <div class="icon">
	            <i class="ion ion-stats-bars"></i>
	          </div>
	          <a href="#" class="small-box-footer">Mais Informações <i class="fa fa-arrow-circle-right"></i></a>
	        </div>
	      </div>
	      <!-- ./col -->
	      <div class="col-lg-3 col-xs-6">
	        <!-- small box -->
	        <div class="small-box bg-yellow">
	          <div class="inner">
	            <h3>{{dashboardCtrl.dashboard.valorTotalInadimplentes | currency:'R$ '}}</h3>
	
	            <p>Inadimplência</p>
	          </div>
	          <div class="icon">
	            <i class="ion ion-person-add"></i>
	          </div>
	          <a href="#" class="small-box-footer">Mais Informações <i class="fa fa-arrow-circle-right"></i></a>
	        </div>
	      </div>
	      <!-- ./col -->
	      <div class="col-lg-3 col-xs-6">
	        <!-- small box -->
	        <div class="small-box bg-red">
	          <div class="inner">
	            <h3>0</h3>
	
	            <p>Mensagens</p>
	          </div>
	          <div class="icon">
	            <i class="ion ion-pie-graph"></i>
	          </div>
	          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
	        </div>
	      </div>
	      <!-- ./col -->
	    </div>
	    <!-- /.row -->
	    <!-- Main row -->
	    <div class="row">
	      <!-- Left col -->
			<section class="col-lg-7 connectedSortable">
				
				<div class="col-md-5">
					<h3>Moradores</h3>
					<a class="btn btn-default btn-lg"  href="#/moradores">
						<div class="col-md-3">
							<span class="glyphicon glyphicon-user glyphicon-orange"></span>
						</div>
						<div class="col-md-6">
							<p>
								Gerenciar
							</p>
							<p>
								Moradores
							</p>
						</div>
					</a>
				</div>
				
				<div class="col-md-5">
					<h3>Documentos</h3>
					<a class="btn btn-default btn-lg"  href="#/documentos">
						<div class="col-md-3">
							<span class="glyphicon glyphicon-duplicate glyphicon-orange"></span>
						</div>
						<div class="col-md-6">
							<p>
								Gerenciar
							</p>
							<p>
								Documentos
							</p>
						</div>
					</a>
				</div>
				
				<div class="col-md-5">
					<h3>Reserva de Salão</h3>
					<a class="btn btn-default btn-lg"  href="#/reservas">
						<div class="col-md-3">
							<span class="glyphicon glyphicon-gift glyphicon-orange"></span>
						</div>
						<div class="col-md-6">
							<p>
								Gerenciar Reservas
							</p>
						</div>
					</a>
				</div>
				
				<div class="col-md-5">
					<h3>Notícias</h3>
					<a class="btn btn-default btn-lg"  href="#/noticias">
						<div class="col-md-3">
							<span class="glyphicon glyphicon-bullhorn glyphicon-orange"></span>
						</div>
						<div class="col-md-6">
							<p>
								Gerenciar Notícias
							</p>
						</div>
					</a>
				</div>
	
				<div class="col-md-5">
					<h3>Despesas</h3>
					<a class="btn btn-default btn-lg"  href="#/despesa-list">
						<div class="col-md-3">
							<span class="glyphicon glyphicon-usd glyphicon-orange"></span>
						</div>
						<div class="col-md-6">
							<p>
								Gerenciar
							</p>
							<p>
								Despesas
							</p>
						</div>
					</a>
				</div>
				
				<div class="col-md-5">
					<h3>Fornecedores</h3>
					<a class="btn btn-default btn-lg"  href="#/fornecedores">
						<div class="col-md-3">
							<span class="glyphicon glyphicon-user glyphicon-orange"></span>
						</div>
						<div class="col-md-6">
							<p>
								Gerenciar
							</p>
							<p>
								Fornecedores
							</p>
						</div>
					</a>
				</div>
			</section>
	      <!-- /.Left col -->
	      <!-- right col (We are only adding the ID to make the widgets sortable)-->
			<section class="col-lg-5 connectedSortable">
	
	     
	        <!-- /.box -->
	
	        <!-- solid sales graph -->
	        <div class="box box-solid bg-teal-gradient">
	          <div class="box-header">
	            <i class="fa fa-th"></i>
	
	            <h3 class="box-title">Gráfico Receitas vs Despesas</h3>
	
	            <div class="box-tools pull-right">
	              <!-- <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
	              </button>
	              <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
	              </button> -->
	            </div>
	          </div>
	          <div class="box-body border-radius-none">
					<!-- conteudo -->
	          </div>
	          <!-- /.box-body -->
	          <div class="box-footer no-border">
	            <div class="row">
	              <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
	               <!--  <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC">
	
	                <div class="knob-label">Mail-Orders</div> -->
	              </div>
	              <!-- ./col -->
	            </div>
	            <!-- /.row -->
	          </div>
	          <!-- /.box-footer -->
	        </div>
	        <!-- /.box -->
	      </section>
	      <!-- right col -->
	    </div>
	    <!-- /.row (main row) -->
</div>