
<div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Login</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form" ng-submit="authCtrl.login()" data-toggle="validator" class="form-sigin">
                    <fieldset ng-class="{'has-error' : authCtrl.error}">
                    	<small class="help-block has-error" ng-if="authCtrl.error">Login ou senha errada!</small>
			    	  	<div class="form-group">
			    		    <div class="input-group">
			    		    	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input type="text" class="form-control" id="username" name="username" placeholder="usuário" ng-model="authCtrl.credentials.username" />
							</div>
			    		</div>
			    		<div class="form-group">
			    			<div class="input-group">
			    				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input type="password" class="form-control" id="password" name="password" placeholder="senha" ng-model="authCtrl.credentials.password" />
			    			</div>
			    		</div>
			    		<input type="submit" class="btn btn-success btn-block" value="Acessar">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>